<!--<nz-header style="position:fixed; width:100%">-->
<nz-header style="width:100%">
  <div class="logo">
    <span class="logo_name">
      Moku Live
    </span>
  </div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;" [nzSelectable]="false">
    <li nz-menu-item>
      <a routerLink="/live-list" [skipLocationChange]="false">
        Watch Lives
      </a>
    </li>
    <li nz-menu-item>
      <a routerLink="/user-room" *ngIf="authService.isAuthenticated()" [skipLocationChange]="false">
        My Room
      </a>
    </li>
    <!--<li nz-menu-item>Sign Up</li>-->
    <li nz-menu-item *ngIf="!authService.isAuthenticated()">
      <a routerLink="/login" [skipLocationChange]="false">
        Sign In
      </a>
    </li>

    <app-avatar [profile]="profile"></app-avatar>
    <app-menu [type]="'mail'" [size]="26"></app-menu>
    <app-menu [type]="'question-circle-o'" [size]="24"></app-menu>
  </ul>
  <!--<app-search></app-search>-->

</nz-header>
