<div style="padding:30px;">
  <nz-spin [nzSize]="'large'" [nzSpinning]="loading">
    <div class="live-create" *ngIf="!roomExists">
      <span class="title">Create Room</span>
      <nz-input-group nzCompact nzSize="large">
        <input type="text" nz-input value="Room Name" disabled="true" style="width:120px">
        <input type="text" nz-input [(ngModel)]="roomName" style="width:20%;">
        <nz-select [(ngModel)]="withPass" style="width:180px;" nzSize="large">
          <nz-option [nzLabel]="'Without password'" [nzValue]="false"></nz-option>
          <nz-option [nzLabel]="'With password'" [nzValue]="true"></nz-option>
        </nz-select>
        <input *ngIf="withPass"
               type="password" nz-input [(ngModel)]="roomPass"
               style="width:20%;">
      </nz-input-group>
      <span class="submit-button">
      <button nz-button nzType="primary" nzSize="large" (click)="createRoom()">
        Create Room
      </button>
    </span>
    </div>

    <div class="live-create" *ngIf="roomExists">
      <span class="title">Change Room</span>
      <nz-input-group nzCompact nzSize="large">
        <input type="text" nz-input value="Room Name" disabled="true" style="width:120px">
        <input type="text" nz-input [(ngModel)]="roomName" style="width:20%;">
        <nz-select [(ngModel)]="withPass" style="width:180px;" nzSize="large">
          <nz-option [nzLabel]="'Without password'" [nzValue]="false"></nz-option>
          <nz-option [nzLabel]="'With password'" [nzValue]="true"></nz-option>
        </nz-select>
        <input *ngIf="withPass"
               type="password" nz-input [(ngModel)]="roomPass"
               style="width:20%;">
      </nz-input-group>
      <span class="submit-button">
      <button nz-button nzType="primary" nzSize="large" (click)="createRoom()">
        Change Room
      </button>
    </span>
    </div>

    <div class="stream-info" *ngIf="roomExists">
      <div>
        <span>
          <nz-tag [nzColor]="'#f50'">
            {{roomInfo.liveName}}
          </nz-tag>
        </span>
        <span>
          <nz-tag [nzColor]="'#87d068'" ngxClipboard [cbContent]="settingsService.rtmpLiveUrl" (cbOnSuccess)="copySuccess('Push URL')">
            {{settingsService.rtmpLiveUrl}}
          </nz-tag>
        </span>
        <span>
        <nz-tag [nzColor]="'#2db7f5'" ngxClipboard [cbContent]="roomInfo.streamCode"
                (cbOnSuccess)="copySuccess('Stream code')">
          {{roomInfo.streamCode}}
        </nz-tag>
      </span>
      </div>
    </div>

    <div class="live-player">
      <video id="videoElement"
             [ngStyle]="{'width':'1000px','height':'560px','display':roomExists ? 'block':'none'}"
             controls autoplay
             [attr.poster]=poster>
        Your browser is too old which doesn't support HTML5 video.
      </video>
      <video [ngStyle]="{'width':'1000px','height':'560px','display':!roomExists ? 'block':'none'}"
           [attr.poster]=poster>
      </video>
    </div>
  </nz-spin>
</div>
