<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moku.live.client.mapper.CallbackMapper">

    <update id="changeLiveStatus" parameterType="map">
        update live_info set status=#{newStatus} where streamcode=#{streamCode} and status=#{oldStatus}
    </update>
</mapper>