.ant-avatar {
  margin-top: -4px;
  font-size:12px;
  font-weight:bold;
  cursor:pointer;
}
.ant-avatar-circle {
  width:26px !important;
  height:26px !important;
  border: solid 1px #FFF;
}

:host ::ng-deep .ant-avatar-string {
  position: relative;
  bottom: 4px;
}

.drop-icon {
  margin-right: 16px;
  cursor: pointer;
}

.avatar-drop-icon {
  margin-right:4px;
  font-weight:bold;
  font-size:12px;
}

:host ::ng-deep .anticon-user{
  bottom: 0.2rem;
  position: relative;
  font-size: 1rem;
  font-weight: normal;
}
