.title {
  position: relative;
  font-size: 18px;
  bottom: 10px;
  font-weight: 600;
}

.submit-button {
  position: relative;
  top: 10px;
}

.live-create {
  height:120px;
}

.live-player {
  position:relative;
  top:20px;
  text-align: left;
}

.stream-info {
  position:relative;
  top:10px;
}

:host ::ng-deep .ant-tag {
  height: 30px;
  padding: 4px 7px;
  font-size:16px;
}
