<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <style type="text/css">

        /* Sticky footer styles
        -------------------------------------------------- */

        html,
        body {
            height: 100%;
            font-family: "微软雅黑"
            /* The html and body elements cannot have any padding or margin. */
        }

        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        .container {
            width: auto;
            max-width: 680px;
        }

        .container .credit {
            margin: 20px 0;
        }

        .form-signin {
            max-width: 300px;
            padding: 10px 29px 29px;
            margin: 200px auto 20px;
            background-color: rgba(255, 255, 255, 0.7);
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 18px;
            height: auto;
            margin-bottom: 15px;
            padding: 10px 10px;
        }

    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png"/>
    <link rel="shortcut icon" href="/assets/ico/favicon.png"/>
</head>

<body style="overflow: hidden">


<!-- Part 1: Wrap all page content here -->
<div style="background:#777777;height:inherit">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#" th:text="${title}"></a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#" onClick="toggleMenu('0')">首页</a></li>
                        <!--<li th:if="${session.SPRING_SECURITY_CONTEXT != null}">
                            <a href="#myroom" onClick="toggleMenu('3')">我的直播间</a>
                        </li>-->
                        <li><a href="#register" onClick="toggleMenu('1')">新用户注册</a></li>
                        <li th:if="${session.SPRING_SECURITY_CONTEXT != null}">
                            <a href="#mypage" onClick="toggleMenu('9')">
                                <img src="/assets/img/head.jpg"
                                     style="height:20px;width:20px;border-radius: 10px"/>
                                <span th:text="直播间设置"></span>
                            </a>
                        </li>
                        <li th:if="${session.SPRING_SECURITY_CONTEXT == null}">
                            <a href="#login" onClick="toggleMenu('2')">登录我的账号</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div id="steamlist" style="height:inherit">
        <ul class="thumbnails"
            style="height:inherit;padding-top:30px;padding-left:40px;background:#666666;overflow-y:auto">

            <li style="margin-top:40px" th:each="live,liveStat : ${lives}">
                <div style="width: 320px; height: 220px;background:#DDDDDD;text-align:center;cursor:pointer;margin-top:10px;margin-bottom:10px"
                     th:onclick="'javascript:toLive(\''+${live.userName}+'\',\''+${live.liveName}+'\')'">
                    <div th:if="${live.password != null and live.password != ''}" style="position:relative;float:left;background:red;color:white;padding:10px"><i class="icon-lock icon-white"></i></div>
                    <div th:if="${live.status == '9'}" style="position:relative;float:right;background:orange;color:white;padding:10px">正在直播</div>
                    <div th:style="|width: 320px; height: 180px;background-image:url(${snapshotUrl}${live.streamCode}.png);background-size:contain|">
                    </div>
                    <p style="padding:10px;font-size:16px" th:text="|主播:${live.userName}    ${live.liveName}|">
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="container" id="regi" style="display:none">
        <form class="form-signin">
            <h3 class="form-signin-heading">&nbsp;&nbsp;用户注册</h3>
            <input id="register_username" type="text" class="input-block-level" placeholder="账号"/>
            <input id="register_password" type="password" class="input-block-level" placeholder="密码"/>
            <button onClick="register()" class="btn btn-large btn-success" type="button"><i class="icon-ok icon-white"
                                                                                            style="margin-left:-10px"></i>&nbsp;&nbsp;注册
            </button>
        </form>
    </div>


    <div class="container" id="login" style="display:none">
        <form id="loginForm" action="/login" method="POST" class="form-signin">
            <h3 class="form-signin-heading">&nbsp;&nbsp;用户登录</h3>
            <input name="userName" id="userName" type="text" class="input-block-level" placeholder="邮箱/账号/手机号"/>
            <input name="password" id="password" type="password" class="input-block-level" placeholder="密码"/>
            <button onClick="login()" class="btn btn-large btn-success" type="button">
                <i class="icon-ok icon-white" style="margin-left:-10px"></i>&nbsp;&nbsp;登录
            </button>
        </form>
    </div>
</div>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap-transition.js"></script>
<script src="/assets/js/bootstrap-alert.js"></script>
<script src="/assets/js/bootstrap-modal.js"></script>
<script src="/assets/js/bootstrap-dropdown.js"></script>
<script src="/assets/js/bootstrap-scrollspy.js"></script>
<script src="/assets/js/bootstrap-tab.js"></script>
<script src="/assets/js/bootstrap-tooltip.js"></script>
<script src="/assets/js/bootstrap-popover.js"></script>
<script src="/assets/js/bootstrap-button.js"></script>
<script src="/assets/js/bootstrap-collapse.js"></script>
<script src="/assets/js/bootstrap-carousel.js"></script>
<script src="/assets/js/bootstrap-typeahead.js"></script>

<script th:inline="javascript">

    function toggleMenu(obj) {
        if (obj == '0') {
            document.location = "/";
        }
        else if (obj == '1') {
            $("#login").hide();
            $("#steamlist").hide();
            $("#regi").show();
        }
        else if (obj == '2') {
            $("#login").show();
            $("#steamlist").hide();
            $("#regi").hide();
        }
        //else if (obj == '3') {
        //    document.location = "/live/show?userName="+ username;
        //}
        else if (obj == '9') {
           document.location = "/live/userpage";
        }
    }

    //去主播直播间
    function toLive(casterName) {
        document.location = "/live/show?userName=" + casterName;
    }

    function login() {
        $("#loginForm").submit();
    }


    function register() {
        $.ajax({
            //提交数据的类型 POST GET
            type: "POST",
            //提交的网址
            url: "/user/add",
            //提交的数据
            data: {
                userName: $("#register_username").val(),
                password: $("#register_password").val(),
                registerDate: moment().format('YYYY-MM-DD hh:mm:ss'),
                lastLoginDate: moment().format('YYYY-MM-DD hh:mm:ss')
            },
            //返回数据的格式
            datatype: "json",
            success: function (data) {
                if (data.result == 'success') {
                    alert("注册成功");

                }
                else if (data.result == 'exist') {
                    alert("用户已存在");
                }
                else if (data.result == 'error') {
                    alert("注册出错，请重试");
                }
            },
            //调用出错执行的函数
            error: function () {
                alert("系统错误，请稍后重试");
            }
        });
    }


</script>

</body>
</html>
