.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  /*background: url('/assets/img/logo.jpg');*/
  margin: 16px 24px 16px 10px;
  float: left;
  border-radius: 6px;
}

.logo_name {
  position:relative;
  top:-18px;
  left:16px;
  color:#FFF;
  font-size:20px;
}

.logoImg {
  height: 30px;
}

.ant-layout-header {
  /*background: #347db0;*/
  padding: 0
}

.ant-menu-dark {
  border: none;
  /*background: #347db0;*/
  height:64px;
}

.ant-layout {
  background: #FFF;
}

.ant-menu-item {
  font-size:16px !important;
}
